{{>header}}


{{#if success}}
<div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="showMessage" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto text-success">Success</strong>
            {{!-- <small>11 mins ago</small> --}}
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            The customer has been deleted.
        </div>
    </div>
</div>
{{/if}}
{{#if error}}
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="showMessage" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto text-danger">Error</strong>
            {{!-- <small>11 mins ago</small> --}}
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {{error}}
        </div>
    </div>
</div>
{{/if}}







<div class="main">
    <div class="container mt-5">
        <div class="row">
            <div class="col">

                <h1>Customer Data</h1>
            </div>
            <div class="col text-end">
                <a href="/customer/add"><button type="button" class="btn btn-primary">Add Customer</button></a>
            </div>
        </div>
    </div>
    <div class="container my-5">
        {{#if customers}}
        <table id="all-customers" class="table table-striped text-start" style="width:100%">
            <thead>
                <tr>
                    <th class="text-start">PP_Num</th>
                    <th class="text-start">Customer Name</th>
                    <th class="text-start">Customer Mob</th>
                    <th class="text-start">Supplier</th>
                    <th class="text-start">Start date</th>
                    <th class="text-start">End date</th>
                    <th class="text-start">Remaining Days</th>
                    <th class="text-start">Delete</th>
                </tr>
            </thead>
            <tbody class="text-start">
                {{#each customers}}
                <tr>
                    <td class="text-start">{{this.pp_num}}</td>
                    <td class="text-start">{{this.customer_name}}</td>
                    <td class="text-start">{{this.customer_mob}}</td>
                    <td class="text-start">{{this.supplier}}</td>
                    <td class="text-start">{{formatDate this.start_date}}</td>
                    <td class="text-start">{{formatDate this.end_date}}</td>
                    <td class="{{checkStatus this.start_date this.end_date}} text-start">{{remainingDays
                        this.start_date
                        this.end_date}}</td>
                    <td>
                        <a href="/customer/delete/{{this._id}}">
                            <button class="btn btn-danger">
                                Delete
                            </button>
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
            <tfoot class=" text-start">
                <tr>
                    <th class="text-start">PP_Num</th>
                    <th class=" text-start">Customer Name</th>
                    <th class="text-start">Customer Mob</th>
                    <th class=" text-start">Supplier</th>
                    <th class="text-start">Start date</th>
                    <th class=" text-start">End date</th>
                    <th class="text-start">Remaining Days</th>
                </tr>
            </tfoot>
        </table>
        {{else}}
        <h3 class=" text-danger">No data found</h3>
        {{/if}}
    </div>
</div>


<!-- End Scritp for Form -->

{{>footer}}
<script>
    const toastLiveExample = document.getElementById('showMessage')

    const toast = new bootstrap.Toast(toastLiveExample);
    toast.show();
</script>